.p {
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding-top: 8px;
}

.footer{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    color: #FFF;
    background-color: #707070;
    height: 291px;
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
}