body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: HelveticaNeue, sans-serif;
  color: #888888;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: HelveticaNeue;
  src: url(fonts/Helvetica\ Neue\ Medium\ Extended/)
}